@model DiskSpaceMonitor.Models.FileMetadata

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileMetadata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastAccessedDate" class="control-label"></label>
                <input asp-for="LastAccessedDate" class="form-control" />
                <span asp-validation-for="LastAccessedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>

            <!-- Випадаючий список для Server -->
            <div class="form-group">
                <label asp-for="ServerId" class="control-label">Server</label>
                <select asp-for="ServerId" class="form-control" asp-items="ViewBag.Servers"></select>
                <span asp-validation-for="ServerId" class="text-danger"></span>
            </div>

            <!-- Випадаючий список для Disk -->
            <div class="form-group">
                <label asp-for="DiskId" class="control-label">Disk</label>
                <select asp-for="DiskId" class="form-control" asp-items="ViewBag.Disks"></select>
                <span asp-validation-for="DiskId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FileType" class="control-label"></label>
                <input asp-for="FileType" class="form-control" />
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
